ul(class="nav nav-justified")
	li(class="nav-item active")
		a( href="/") Home
	li(class="nav-item")
		a(class="nav-link" href="/contatos") Contatos
	li(class="nav-item")
		a(class="nav-link" href="/usuarios") Usuários
	li(class="nav-item")
		a(class="nav-link" href="/email") Entrar em contato
	li(class="nav-item")
		a(class="nav-link" href="/logout") #{session.nome} (Sair)