doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-aux.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    if isLogged
      div(class="container")
        div(class="masthead")
         h3(class="text-muted") Projeto Acadetec
         include partials/menu

    block content

      if isLogged
        include partials/footer

    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/bootstrap.js")

